{% extends "litreview/base.html" %}
{% block title %}Page Flux{% endblock %}

{% block body %}
<div class="row justify-content-md-center">
    <div class="col-md-3">
        <a href="{% url 'review:create-ticket' %}" class="btn btn-primary">Demander une critique</a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'review:create-review' %}" class="btn btn-primary">Créer une critique</a>
    </div>
</div>


{% for post in posts %}
    {% if post.content_type == 'REVIEW' %}
        {% include 'review/part__review.html' with review=post %}
    {% elif post.content_type == 'TICKET' %}
        {% include 'review/part__ticket.html' with ticket=post %}
    {% endif %}
{% endfor %}

{% include 'review/part__paginator.html' with page_obj=posts %}

{% endblock %}