{% extends "litreview/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Créer une critique{% endblock %}

{% block body %}
<h1 class="text-center">Créer une critique</h1>
<form method="post" action="" enctype="multipart/form-data">
{% csrf_token %}

    {% if title_page == 'without_ticket' %}
        <fieldset class="form-group">
            <legend>Livre / Article</legend>
            <div class="px-5">
                {% bootstrap_form ticket_form %}
            </div>
        </fieldset>
    {% elif title_page == 'with_ticket'  %}
        {% include 'review/part__ticket.html' with ticket=ticket %}
    {% endif %}
    
    <fieldset class="form-group">
        <legend>Critique</legend>
        <div class="px-5">
            {% bootstrap_form review_form %}
        </div>

        <div class="d-flex justify-content-end">
            <input class="btn btn-primary my-3 px-5" type="submit" value="Envoyer">
        </div>
    </fieldset>


</form>
{% endblock %}