{% extends "litreview/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Créer une critique{% endblock %}

{% block body %}
<h1 class="text-center">Créer une critique</h1>
<form method="post" action="" enctype="multipart/form-data">
{% csrf_token %}
    {% if title_page == 'without_ticket' %}
        <fieldset class="form-group">
            <legend>Ticket</legend>
            {% bootstrap_form ticket_form %}
        </fieldset>
    {% elif title_page == 'with_ticket'  %}
        {% include 'review/part__ticket.html' with ticket=ticket %}
    {% endif %}
    
    <fieldset class="form-group">
        <legend>Critique</legend>
        {% bootstrap_form review_form %}
    </fieldset>

    <div class="mx-auto" style="width: 50%;">
        <input class="btn btn-primary" type="submit" value="Envoyer">
    </div>

</form>
{% endblock %}