{% extends "litreview/base.html" %}

{% block title %}Créer un ticket{% endblock %}

{% block body %}

<div class="row justify-content-center">
    {% if mod == 'update' %}
    <div class="col-4">
            <img src="{{ ticket.image.url }}" alt="" class="img-fluid">
    </div>
    {% endif%}

    <div class="col-8">
        <form method="post" action="" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="d-flex justify-content-end">
                <input class="btn btn-primary" type="submit" value="Envoyer">
            </div>
        </form>
    </div>
</div>
{% endblock %}