{% load markdown_extras %}

<div class="card text-white bg-dark border-light mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                {% if review.user == user %}
                Vous avez publié une critique
                {% else %}
                <a href="{% url 'review:view-by-user' review.user.pk %}">{{ review.user | title }}</a> a publié une critique
                {% endif %}
            </div>
            <div class="d-flex justify-content-end">
                {{ review.time_created | date:"G:i, d F Y" }}
            </div>
        </div>

        <div class="card-body ">
            <h5 class="card-title">
                {{ review.headline }}
                <img class="ml-3" src="/image/media/{{review.rating}}stars.gif" alt="" width=100>
            </h5>
        </div>
        <div class="cold-md-10">
            {{ review.body | markdown | safe }}
        </div>
        {% if not my_posts %}
            {% include 'review/part__ticket.html' with ticket=review.ticket %}
        {% elif review.user == user %}
        <div class="row justify-content-md-end">
            <div class="col-md-2">
                <a
                style="display:none"
                id="delete-review-{{review.pk}}"
                class="btn btn-danger"
                href="{% url 'review:delete-review' review.pk %}">Delete</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-success" href="{% url 'review:update-review' review.pk %}">Modifier</a>
            </div>
            <div class="col-md-2">
                <button 
                class="btn btn-danger"
                onclick="document.getElementById('delete-review-{{review.pk}}').style.display='block'">Effacer
                </button>
            </div>
        </div>
        {% endif %}
    </div>
</div>