<div class="ticket">
    <p>Ticket {{ ticket.user }}</p>
    <p>{{ ticket.title }}</p>
    <p>{{ ticket.description }}</p>
    <img src="{{ ticket.image.url }}" alt="">

    {% if title_page is None and ticket.closed_date is None %}
        <div class="row justify-content-md-center mt-3">
            <div class="col">
                <a class="btn btn-success" href="{% url 'review:create-review-by-ticket' ticket.pk %}">Créer une critique</a>
            </div>
        </div>
    {% endif %}

    {% if ticket.user == user and my_posts == True %}
        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <a class="btn btn-success" href="">Modifier</a>
            </div>

            {% if ticket.closed_date == None %}
            <div class="col-md-2">
                <button class="btn btn-danger"
                    onclick="document.getElementById('modal_delete_review').style.display='block'">Effacer
                </button>
            </div>
            {% endif %}
        </div>
    {% endif %}
</div>