{% load markdown_extras %}

{% if post.content_type == 'REVIEW' %}
    <div class="card text-white bg-dark border-light mt-3">
        <div class="card-header">
            <p>
                {% if post.user == user %}
                    Vous avez publié une critique
                {% else %}
                    {{ post.user }}
                {% endif %}
                    le {{ post.time_created }}
            </p>
            <div class="card-body ">
                <h5 class="card-title">
                    {{ post.headline }}
                    <img class="ml-3" src="/image/media/{{post.rating}}stars.gif" alt="" width=100>
                </h5>
            </div>
            <div class="cold-md-10">
                {{ post.body | markdown | safe }}
            </div>
            {% if not my_posts %}
                {% include 'review/part__ticket.html' with ticket=post.ticket %}
            {% elif post.user == user %}
                <a class="btn btn-success" href="{% url 'review:update-review' post.pk %}">Modifier</a>
                <button 
                    class="btn btn-danger"
                    onclick="document.getElementById('modal_delete_review').style.display='block'">Effacer
                </button>
            {% endif %}
        </div>
    </div>

    {% include 'review/part__modal_confirm.html' with ticket=post%}
    
{% elif post.content_type == 'TICKET' %}
    {% include 'review/part__ticket.html' with ticket=post %}
{% endif %}