{% load markdown_extras %}

<div class="card text-white bg-dark border-light mt-3">
    <div class="card-header">
        <p>
            {% if review.user == user %}
                Vous avez publié une critique
            {% else %}
                {{ review.user }}
            {% endif %}
                le {{ review.time_created }}
        </p>
        <div class="card-body ">
            <h5 class="card-title">
                {{ review.headline }}
                <img class="ml-3" src="/image/media/{{review.rating}}stars.gif" alt="" width=100>
            </h5>
        </div>
        <div class="cold-md-10">
            {{ review.body | markdown | safe }}
        </div>
        {% if not my_posts %}
            {% include 'review/part__ticket.html' with ticket=review.ticket %}
        {% elif review.user == user %}
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-success" href="{% url 'review:update-review' review.pk %}">Modifier</a>
            </div>
            <div class="col-md-2">
                <button 
                    class="btn btn-danger"
                    onclick="document.getElementById('delete-review-{{review.pk}}').style.display='block'">Effacer
                </button>
            </div>
            <div class="col-md-2">
                <a 
                    style="display:none"
                    id="delete-review-{{review.pk}}"
                    class="btn btn-danger"
                    href="{% url 'review:delete-review' review.pk %}">Delete</a>   
            </div>
        </div>
        {% endif %}
    </div>
</div>