{% extends "litreview/base.html" %}

{% block title %}Onglet d'abonnements{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-8">
        <div>
            <h3>Suivre d'autres utilisateurs</h3>
            <form class="form-inline" method="post" action="">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <small id="errorHelp" class="form-text text-muted">{{error}}</small>
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ form.username }}
                    {% csrf_token %}
                </div>
                <input class="btn btn-primary m-2" type="submit" value="Envoyer">
            </form>
        </div>
        <div class="mt-5">
            <h1 class="text-center">Abonnements</h1>
            <table class="table table-striped">
                {% for link in followed_user %}
                <tr>
                    <td>
                        <a href="{% url 'review:view-by-user' link.followed_user.pk %}">{{ link.followed_user.username | upper }}</a>
                    </td>
                    <td class='align-right'><a href="{% url 'review:unfollow' link.pk %}" class="btn btn-danger">Désabonner</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="mt-5">
            <h1 class="text-center">Abonnés</h1>
            <table class="table table-striped">
                {% for link in follower_user %}
                <tr>
                    <td>
                        <a href="{% url 'review:view-by-user' link.user.pk %}">{{ link.user.username | upper }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}