body {
    background-color: #34A58C;
}

.navbar {
    background-color:#15514F;
    height: 70px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid;
    border-color: black;
}

.align-right {
    text-align: end;
    width: 60px;
}

fieldset {
    background-color:#1D726F;
    padding:16px;
}
legend {
    font-size: 1.2rem;
}

.errorlist {
    list-style: none;
    background: #3399ff;
    padding: 10px;
}
.errorlist li {
    color: red;
}

.review{
    border: 2px solid black;
    margin: 10px;
}

.ticket{
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
}

.title-center {
    text-align: center;
}

.mt-6 {
    margin-top: 3rem; 
}

.mt-12 {
    margin-top: 6rem; 
}

.rating .form-check {
    padding-right: 2.2rem;
    padding-left: 2.2rem;
}

.px-12 {
    padding-right: 6rem;
    padding-left: 6rem 
}

.small {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.decal {
    margin-top: 1rem;
}

